@use "variables" as *;
@use "mixins" as *;

.about {
  position: relative;
  background: url("./asset/about-bg.webp") no-repeat center/cover;
  color: $text-color-dark;
  margin-top: -6.5rem;
  padding: calc(6.4rem + 6.5rem) 0 12.6rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 40px, 80px);
    @include container;
  }

  &__title {
    font-weight: 700;
    @include fluid(font-size, 24px, 48px);
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    width: 75%;
  }
  &__accent {
    color: $accent-color;
  }

  &__text {
    font-weight: 700;
    @include fluid(font-size, 15px, 20px);
    line-height: 100%;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    padding-left: 15px;

    &::before {
      content: "-";
      position: absolute;
      left: 0;
    }
  }

  &__buttons {
    display: flex;
    @include fluid(gap, 15px, 30px);
  }

  &__buy,
  &__more {
    border: 1px solid $border-color-light;
    @include fluid(padding-top, 10px, 15px);
    @include fluid(padding-bottom, 10px, 15px);
    @include fluid(padding-left, 30px, 63px);
    @include fluid(padding-right, 30px, 63px);
    @include transition(0.3s);
    cursor: pointer;
    will-change: transform, box-shadow;
    @include hover-button;
  }

  &__buy {
    color: $text-color-light;
    background: $bg-button-color;
    border-color: $border-color-light;
  }

  &__more {
    color: $text-color-dark;
    background: $bg-color-light;
    border-color: $border-color-dark;
  }
}
