@use "sass:color";
@use "variables" as *;
@use "mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;

  &__label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: $text-color;
  }

  &__input {
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 4px;
    @include transition(0.3s);

    &:focus {
      outline: none;
      border-color: $accent-color;
    }
  }

  &__button {
    background: $bg-button-color;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    @include transition(0.3s);

    &:hover {
      background: color.adjust($accent-color, $lightness: -10%);
    }
  }
}
