@use "sass:color";
@use "variables" as *;
@use "mixins" as *;

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  @include fluid(gap, 15px, 30px);

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    @include fluid(gap, 15px, 30px);
    @media (max-width: 1023px) {
      flex-wrap: wrap;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__input {
    width: 31.5%;
    @include fluid(padding, 8px, 12px);
    @include fluid(font-size, 14px, 18px);
    border: 1px solid $border-color;
    border-radius: 3px;
    background-color: $input-bg-color;
    color: $bg-order-color;
    @include transition(0.3s);

    &:focus {
      outline: none;
      border-color: $accent-color;
    }

    &::placeholder {
      font-weight: 400;
      @include fluid(font-size, 14px, 18px);
      line-height: 100%;
      color: $bg-order-color;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__file {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include fluid(gap, 5px, 10px);
    width: 34%;
    border: 2px solid $bg-button-color;
    border-radius: 3px;
    @include fluid(padding, 8px, 12px);
    color: $bg-order-color;
    font-weight: 600;
    @include fluid(font-size, 13px, 15px);
    line-height: 100%;
    text-transform: uppercase;
    @include transition(0.3s);
    @include hover-button;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__button {
    margin: 0 auto;
    background: $bg-button-color;
    border: 1px solid #fff;
    color: $text-color-light;
    width: 32%;
    @include fluid(padding, 14px, 17px);
    border-radius: 4px;
    font-family: Lato;
    font-weight: 600;
    @include fluid(font-size, 13px, 15px);
    line-height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    @include transition(0.3s);
    @include hover-button;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.form__select {
  position: relative;
  width: 31.5%;
  font-weight: 400;
  @include fluid(font-size, 14px, 18px);
  line-height: 100%;
  cursor: pointer;
  color: $bg-order-color;

  @media (max-width: 767px) {
    width: 100%;
  }

  &.open {
    .form__trigger {
      background-color: $select-active-bg-color;
      border-color: $accent-color;
      border: 1px solid $bg-footer-color;
      border-radius: 3px;
      color: $text-color-light;
    }
    .form__options {
      display: block;
      background-color: $bg-order-color;
      border: 1px solid $bg-footer-color;
    }
  }

  .form__trigger {
    @include fluid(padding, 8px, 12px);
    border: 1px solid $border-color;
    border-radius: 3px;
    background-color: $input-bg-color;
    color: inherit;
    transition: border-color 0.3s;
  }

  .form__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $input-bg-color;
    border: 1px solid $border-color;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
    @include fluid(font-size, 14px, 16px);
  }

  .form__option {
    @include fluid(padding, 8px, 10px);
    border: none;
    color: $text-color-light;

    &:hover {
      color: $accent-color;
    }
  }
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 71%;
  color: $text-color-light;

  @media (max-width: 767px) {
    width: 100%;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include fluid(margin-bottom, 10px, 16px);
  }

  &__label {
    font-weight: 600;
    @include fluid(font-size, 14px, 18px);
    line-height: 100%;
    text-align: right;
  }

  &__container {
    position: relative;
    width: 100%;
    @include fluid(height, 6px, 10px);
    background-color: $progress-bg-color;
    border: 1px solid #fff;
    border-radius: 3px;
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 75%;
    @include fluid(width, 16px, 23px);
    @include fluid(height, 16px, 23px);
    background-color: $bg-button-color;
    @include fluid(border-width, 2px, 3px);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
  }
}
