@use "variables" as *;
@use "mixins" as *;

.order {
  padding: 121px 0 151px 0;
  background: url("../asset/order-bg.png"), $bg-order-color;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include container;
  }

  &__title {
    @include fluid(font-size, 24px, 36px);
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__accent {
    color: $accent-color;
  }

  &__description {
    color: $text-color-gray;
    @include fluid(margin-bottom, 40px, 80px);
    @include fluid(font-size, 14px, 16px);
    text-align: center;
  }

  &__list {
    position: relative;
    @include fluid(margin-bottom, 40px, 80px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    @include fluid(gap, 15px, 30px);

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    max-width: calc(20% - 30px);
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 1;

    @media (max-width: 767px) {
      max-width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      @include fluid(margin-bottom, 15px, 30px);
    }

    &:hover {
      @include transition(0.3s);
      transform: scale(1.2);
    }
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid $border-button-color;
    border-radius: 50%;
    background-color: $bg-button-color;
    margin-bottom: 20px;
    @include fluid(width, 60px, 90px);
    @include fluid(height, 60px, 90px);
    @include fluid(border-width, 3px, 5px);

    @media (max-width: 767px) {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $bg-hover-button;
      transform: scale(1.2);
      transition: transform 0.3s ease;
    }
  }

  &__text {
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    padding: 0 10px;
    @include fluid(font-size, 14px, 16px);

    @media (max-width: 767px) {
      text-align: left;
    }
  }
}
