$text-color: #ffffff;
$text-color-black: #000000;
$text-color-gray: #bbbbbb;
$accent-color: #43abf0;
$border-color: #ddd;
$bg-color: #10101de5;
$bg-button-color: #3e9cdc;
$bg-order-color: #272733;
$bg-footer-color: #3d4050;
$border-button-color: #286690;
$dot-color: #c4c4c4;
$input-bg-color: #ffffffd9;
$progress-bg-color: #ffffffb2;
$select-bg-color: #272733e5;
$select-active-bg-color: #3d4050d9;
