$text-color-light: #ffffff;
$text-color-dark: #000000;
$text-color-gray: #bbbbbb;
$footer-text-color: #c3c3c3;

$bg-header-color: rgba(16, 16, 29, 0.9);
$bg-button-color: #3e9cdc;
$bg-button-hover: #0078d4;
$bg-button-active: #005fa3;
$bg-order-color: #272733;
$bg-footer-color: #3d4050;
$bg-color-light: #ffffff;
$bg-hover-button: rgba(62, 156, 220, 0.1);

$accent-color: #43abf0;

$border-color: #ddd;
$border-button-color: #286690;
$border-color-light: #ffffff;
$border-color-dark: #000000;

$dot-color: #c4c4c4;
$stripe-color: #c3c3c3;
$input-bg-color: rgba(255, 255, 255, 0.85);
$progress-bg-color: rgba(255, 255, 255, 0.7);
$select-bg-color: rgba(39, 39, 51, 0.9);
$select-active-bg-color: rgba(61, 64, 80, 0.85);
